@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0em;
    height: 0em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}